<p id="notice"><%= notice %></p>

<div class="record">
  <p><b><%= @record.name %></b> - <%= Artist.where("id = #{@record.artist_id}").first.name %></p>
  <p>$<%= @record.price %></p>
  <%= image_tag("records/#{@record.image}", :class => "albumart") %>
</div>
<% if session[:user_id] %>
  <%= link_to "Buy Now", {:controller => "orders", :action => "buy_now", :record => @record.id }%>
<% else %>
  <%= link_to "Buy Now", {:controller => "customers", :action => "login_form" }%>
<% end %>