<h1>CONTACT INFO</h1>

  <p><b><%= @contact.name %></b></p>
  <p><%= @contact.title %></p>
  <p>Phone: <%= @contact.phone %></p>
  <p>Address: <%= @contact.address %></p>
  <p>Email: <%= @contact.email %></p>
